body {
  margin: 0;
  padding: 0;
  background: #16222A;
  background: -webkit-gradient(linear, left top, right top, from(#3A6073), to(#16222A));
  background: linear-gradient(to right, #3A6073, #16222A);
}

.todo-card {
  max-width: 500px;
  margin: 0 auto;
}

.toast {
  position: absolute;
  top: 20px;
  right: 0;
  left: 0;
  margin: auto;
  -webkit-transition: all ease 0.8s;
  transition: all ease 0.8s;
  -webkit-box-shadow: rgba(255, 0, 0, 0.665) 0px 54px 55px, rgba(196, 48, 48, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(255, 0, 0, 0.665) 0px 54px 55px, rgba(196, 48, 48, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  z-index: -5;
}

.toast.show {
  z-index: 9999888888888;
}
